.mensaje{
    text-align: center;
}
.custom-loading{
    
}
.background-image{
    --background: url('../../assets/tabla-background.png') no-repeat center / cover;
}
.nav-bar-image{
    height: 40px;
    width: 40px;
}