<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item id="toolbar-container">
      <ion-title>
        Animales
      </ion-title>
      <ion-button color="tertiary" href="/home">SALIR</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" [fullscreen]="true">
  <ion-item id="button-container">
    <ion-button class="language-button">
      <img src="../../assets/bandera-en.png" alt="">
    </ion-button>
    <ion-button class="language-button">
      <img src="../../assets/bandera-es.png" alt="">
    </ion-button>
    <ion-button class="language-button">
      <img src="../../assets/bandera-pt.png" alt="">
    </ion-button>
  </ion-item>
  
  <div id="temas-container">
    <div id="temas-orientation">
      <ion-button class="temas-opt" color="tertiary">
        <img class="btn-img" src="../../assets/tabla-animales-vaca.png" alt="cow cartoon">
      </ion-button>
      <ion-button class="temas-opt" color="tertiary">
        <img class="btn-img" src="../../assets/tabla-animales-perro.png" alt="dog cartoon">
      </ion-button>
      <ion-button class="temas-opt" color="tertiary">
        <img class="btn-img" src="../../assets/tabla-animales-gato.png" alt="cat cartoon">
      </ion-button>
      
    </div>
  </div>
</ion-content>
